[submodule "classes/showdown"]
	path = classes/showdown
	url = https://github.com/herp-a-derp/Showdown.as.git
[submodule "classes/classes/Parser/Main"]
	path = classes/classes/Parser/Main
	url = https://github.com/herp-a-derp/PornGameParser
