*.swf
RECOVER_*
Corruption-of-Champions.as3proj
/img/*
/bin-debug
/debugStuff
/CoCEd 1.0.3
/bin
/obj

*.pyc
/dist
.idea/workspace.xml
.idea/copyright/profiles_settings.xml
*.sol
*.swc
/out
/tmp
CoC-AIR-app.xml
CoC-AIR.airi
