# This workflow will build a Java project with Ant
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-ant

name: ActionScript 3 CI

# Github worflows do not support actionscript directly.
# However the build uses ant, which is usually used to build java projects.
# The ant task (mxmlc) provided by the flex SDK (ant/lib/flexTasks.jar) is used to build the project.

on:
  push:
    # Just so the CI won't complain about Vanilla+ failing, since V+ isn't configured for CI.
    branches-ignore: [ master ]
  pull_request:
    branches: [ master-wip ]

env:
  # tell the build file where to find the flex SDK
  FLEX_HOME: "build-dep/bin/flex/"
  # this is to trick the flash player into thinking it is running on a desktop
  DISPLAY: ":1"

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          distribution: 'adopt'
          java-version: '11'

      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          submodules: true

      #- name: Download and install Android SDK
      #  uses: android-actions/setup-android@v3

      - name: install flex sdk
        uses: joshtynjala/setup-apache-flex-action@v2
        with:
          flex-version: "4.16.1"
          air-version: "33.1.1.345"
          accept-air-license: true

      # this is where the build happens. A separate build is started for every entry in the matrix element
      - name: Build
        run: ant allCI

      - name: save debug swf
        uses: actions/upload-artifact@v3
        with:
          name: debug-swf
          path: target/CoC-debug.swf

      - name: save release swf
        uses: actions/upload-artifact@v3
        with:
          name: release-swf
          path: target/CoC-release.swf

      - name: save android armv7 apk
        uses: actions/upload-artifact@v3
        with:
          name: mobile-arm7-32bit-apk
          path: target/CoC-Mobile-armv7.apk

      - name: save android armv8 apk
        uses: actions/upload-artifact@v3
        with:
          name: mobile-arm8-64bit-apk
          path: target/CoC-Mobile-armv8.apk

      - name: Discord notification to channel
        uses: sarisia/actions-status-discord@v1
        if: always()
        with:
          webhook: ${{ secrets.DISCORD_WEBHOOK }}